*~
elpa/
themes/
transient/
projectile-bookmarks.eld
projectile.cache
config.el
/.mc-lists.el
/ac-comphist.dat
/.org-id-locations
/.projectile
/anaconda-mode
/bookmarks
/emms
/eshell
/network-security.data
/recentf
/request
/tramp
/url
*.last
/external
config.pdf
config.tex
games/
notes
org-clock-save.el
/.trello
/nov-places
/srecode-map.el
/README.el
/var
/tutorial
/.pdf-view-restore
*.elc
org-roam.db
